services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:${DB_PORT}"
    volumes:
      - data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - net
  app:
    build:
      context: ./app
    env_file:
      - .env
    ports:
      - "80:${APP_PORT}"
    restart: unless-stopped
    networks:
      - net

volumes:
  data:

networks:
  net:
    name: ${NETWORK}
    external: true
